.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  padding-top: 12px;
  padding-bottom: 0px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.actaaaaaaive, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link a:hover {
  color: #37c5de;
}

a:hover {
  color: #37c5de;
  text-decoration: underline;
  transition: 0.5s;
}

#home {
  text-align: center;
  position: relative;
  top: 40px;
}

#home img {
  width: 120px;
}

.img img {
  border-radius: 50%;
  border: 1px solid;
  border-color: #636466;
  position: relative;
  top: 30px;
}

.text1 {
  position: relative;
  top: 90px;
}

.article img {
  width: 40px;
}

.article {
  position: relative;
  top: 150px;
}

.textarea {
  position: relative;
  top: 160px;
}

.img2 {
  position: relative;
  top: 180px;
}

.textarea2 {
  position: relative;
  top: 195px;
}

.img3 {
  position: relative;
  top: 210px;
}

.textarea3 {
  position: relative;
  top: 230px;
}

#Blogs {
  position: relative;
  top: 360px;
  text-align: center;
}

.box {
  display: grid;
}

.card {
  width: 300px;
  text-align: center;
  margin: auto;
  display: inline-block;
  margin-left: 30px;
}

.card-body {
  padding-top: 130px;
  padding-bottom: 130px;
  margin: auto;
}

.card-img-top w-100 d-block {
  padding-top: 50px;
}

@media (min-width:576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    text-align: center;
  }
}

@media (min-width:576px) {
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: auto;
  }
}

@media (min-width:576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
  }
}

.text-box {
  padding: 20px;
}

