.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  padding-top: 12px;
  padding-bottom: 0px;
}

.card {
  width: 250px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 40px;
  padding-left: 18px;
  padding-right: 18px;
  display: inline-block;
  margin-left: 40px;
}

#box1 {
  margin: auto;
  text-align: center;
}

.card strong {
  position: relative;
  top: 30px;
}

